@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
$green-success: #198754;
$green-success-light: #3da474;

:root {
  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Nunito', sans-serif !important;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

a {
  font-weight: 500;
  // color: #646cff;
  color: $green-success;
  text-decoration: inherit;
}
a:hover {
  // color: #535bf2;
  // text-decoration: underline;
  color: $green-success-light;
}

 body {
  // margin: 0;
  // display: flex;
  // place-items: center;
  // min-width: 320px;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif !important;
  height: 100%;
} 

#root{
  padding: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #64ff95;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0a3622;
    background-color: #ffffff;
  }
  a:hover {
    // color: #747bff;
    color: $green-success-light;
  }
  button {
    background-color: #f9f9f9;
  }
}

.card:hover {
  cursor: pointer;
}

input {
  border-radius: 5px;
  padding: 5px 8px;
  border: 1px solid #adb5bd;

  &:focus-visible {
    outline: 0;
    box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  }
}

.input {
  &-group {
    justify-content: right;
    &-text {
      &:hover {
        cursor: pointer;
      }
    }
  }
}



.form-control:focus, .form-select:focus {
  border-color: $green-success;
  box-shadow: 0 0 0 0.25rem rgba(25,135,84,.25);
}

form {
  display: flex;
  flex-direction: column;
}

.form {
  width: 35%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  &-container {
    box-shadow: 0px 0px 6px 0px gray;
    padding: 25px;
    border-radius: 10px;
  }

  &-product {
    width: 40%;
  }
}

p.warning-text {
  margin-top: 10px;
  color: #fd7e14;
}

p.error-text {
  color: #dc3545;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.btn-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-image {
  &-card {
    height: 200px;
    width: 200px;
    object-fit: contain;
    border-radius: 15px;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  // box-shadow: 1px 1px 2px 0px rgb(166, 166, 166);
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,.12);
  margin: 10px;
  margin-bottom: 16px;

  &:hover {
    // box-shadow: 0px 0px 8px 0px rgb(166, 166, 166);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.1);
    transition: box-shadow .2s ease-in-out;
    // transition: 0.3s ease-in-out;
  }
}

textarea {
  min-height: 175px !important;
}

.form-flex-row {
  display: flex;
  justify-content: space-around;
  margin: 10px 10px;
}

.form-check-input:checked {
  &:checked {
    background-color: $green-success;
    border-color: $green-success;
  }
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(25,135,84,.25);
  }
}

.form-flex-column {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 75%;
  align-self: center;
}

.form-image {
  height: 200px;
  width: 200px;
  object-fit: contain;
  border-radius: 15px;
  align-self: center;
  margin-top: 20px;
}